<form method="post"
      th:action="@{/login}">

    <div class="form-group">

        <label for="identifier">
            Username hoặc Email
        </label>

        <div class="input-wrapper">

            <span class="input-icon">
                👤
            </span>

            <input
                    type="text"
                    id="identifier"
                    name="identifier"
                    class="form-control"
                    placeholder="username hoặc email"
                    autocomplete="username"
                    required
            >

        </div>

    </div>

    <div class="form-group">

        <label for="password">
            Mật khẩu
        </label>

        <div class="input-wrapper">

            <span class="input-icon">
                🔒
            </span>

            <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Nhập mật khẩu"
                    autocomplete="current-password"
                    required
            >

        </div>

    </div>

    <button
            type="submit"
            class="btn-login">

        Đăng nhập

    </button>

</form>
